name: Publish
on:
  release:
    types:
      - published
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    env:
      GH_TOKEN: ${{ github.token }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        name: Setup Python
        with:
          python-version: "3.11"
      - uses: snok/install-poetry@v1.3.3
        name: Install Poetry
      - name: Configure Poetry
        run: |
          poetry config repositories.testpypi https://test.pypi.org/legacy/ \
          && poetry config pypi-token.testpypi ${{ secrets.TESTPYPI_TOKEN }} \
          && poetry config pypi-token.pypi ${{ secrets.PYPI_TOKEN }}
      - name: Install dependencies
        run: poetry install -E dev
      - name: Run tests
        run: poetry run pytest
      - name: Build package
        run: poetry build
      - name: Publish package to Test Pypi
        run: poetry publish --skip-existing --repository testpypi
      - name: Publish package to Pypi
        run: poetry publish --skip-existing
      - run: zip -r dist.zip dist
      - name: Publish files to release
        run:  gh release upload v$(poetry version --short) --clobber dist.zip#dist
      - name: Publish docs
        run: poetry run mkdocs
      - run: |
          git config user.name 'github-actions[bot]' \
          && git config user.email 'github-actions[bot]@users.noreply.github.com'
      - name: Publish docs to GitHub Pages
        run: poetry run mkdocs gh-deploy --force --clean --verbose
