name: Python package
on:
    push:
        branches:
            - main
            - develop
    pull_request:
jobs:
    test:
        strategy:
            matrix:
                python-version: ["3.8", "3.9", "3.10"]
                os-version: ["ubuntu-latest", "macos-latest"]
        runs-on: ${{ matrix.os-version }}
        steps:
            - uses: actions/checkout@v3
            - uses: actions/setup-python@v4
              name: Setup Python (${{ matrix.python-version }})
              with:
                python-version: ${{ matrix.python-version }}
            - uses: snok/install-poetry@v1.3.3
              name: Install poetry
            - name: Install dependencies
              run: poetry install -E dev
            - name: Run tests
              run: poetry run pytest
    docs:
      needs: test
      if: github.ref_name == 'main'
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v3
        - uses: actions/setup-python@v4
          with:
            python-version: "3.10"
        - run: pip install mkdocs
        - run: git config user.name 'github-actions[bot]' && git config user.email 'github-actions[bot]@users.noreply.github.com'
        - name: Publish Docs to Github Pages
          run: mkdocs gh-deploy --force --clean --verbose
