name: Python package
on:
    push:
        branches:
            - main
            - develop
    pull_request:
jobs:
    test:
        strategy:
            matrix:
                python-version: ["3.10"]
                os-version: ["ubuntu-latest", "macos-latest", "windows-latest"]
        runs-on: ${{ matrix.os-version }}
        steps:
            - uses: actions/checkout@v3
            - uses: actions/setup-python@v4
              name: Setup Python (${{ matrix.python-version }})
              with:
                python-version: ${{ matrix.python-version }}
            - uses: snok/install-poetry@v1.3.3
              name: Install poetry
            - name: Install dependencies
              run: poetry install -E dev
            - name: Run tests
              run: poetry run pytest
